PORT=3000
PRIMARY_DB_HOST=postgres-primary
PRIMARY_DB_PORT=5432
PRIMARY_DB_NAME=appdb
PRIMARY_DB_USER=postgres
PRIMARY_DB_PASSWORD=change-me-primary-password
REPLICA_DB_HOSTS=postgres-replica-1,postgres-replica-2
REPLICA_DB_PORT=5432
REPLICA_DB_NAME=appdb
REPLICA_DB_USER=postgres
REPLICA_DB_PASSWORD=change-me-primary-password
POOL_MAX=10
POOL_CONNECTION_TIMEOUT_MS=5000